@{
}
<h3>Welcome Developpeur</h3>
<div class="list-group col-2">
    <a asp-action="ListerNotification" asp-controller="Notification" class="list-group-item">Lister Les notifications</a>
    <a asp-action="ChangerProfil" asp-controller="Developpeur" class="list-group-item">Changer Profil</a>
    <a asp-action="ConsulterProjet" asp-controller="Projet" class="list-group-item">Consulter Projet</a>
</div>

