@{
}
<h3>Welcome Chef Projet</h3>
<div class="list-group col-2">
    <a asp-action="ListerNotification" asp-controller="Notification" class="list-group-item">Lister Les notifications</a>
    <a asp-action="ListerProjetChefProjet" asp-controller="Projet" class="list-group-item">Lister Projet</a>
    
</div>

