@page
@model ProjetGL.Pages.InscriptionModel
@using ProjetGL.Models;
@{
}

<h1 class="text-danger">Inscription</h1>
<form method="post" class="col-4 offset-3">

    <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" asp-for="Account.Username" class="form-control" />
        <span asp-validation-for="Account.Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="text" asp-for="Account.Password" class="form-control" />
        <span asp-validation-for="Account.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Role</label>
        <select asp-for="Account.UserRole" asp-items="Html.GetEnumSelectList<Role>()" class="form-control">
        </select>
        <span asp-validation-for="Account.UserRole" class="text-danger"></span>
    </div>

    <span class="text-success">
        @Model.Msg
    </span>

    <div class="m-2">
        <button type="submit" class="btn btn-success">S'inscrire</button>
    </div>

</form>
